[submodule "proxied-app-apache"]
	path = proxied-app-apache
	url = https://salsa.debian.org/jgoerzen/docker-proxied-app-apache.git
	branch = .
[submodule "reverse-proxy-apache"]
	path = reverse-proxy-apache
	url = https://salsa.debian.org/jgoerzen/docker-reverse-proxy-apache.git
	branch = .
